:root {
    --secondaryColor: rgba(247, 148, 0);
    --mainColor: rgb(4, 149, 192);

}

@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');

body {
    background-color: var(--mainColor);
    color: white;
    font-family: 'Spartan', sans-serif;
}

/*-----------------------HEADER CSS------------------------*/

.headerDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondaryColor);
}

.headerList {
    display: flex;
    
}

.headerListItem {
    list-style: none;
    margin-left: 5px;
    margin-right: 5px;
}

.headerListBtn {
    padding-right: 10px;
    padding-left: 10px;
    background-color: var(--mainColor);
    color: white;
    border-radius: 5px;
}

/*---------------------END OF HEADER STYLES-----------------*/

/*-----------------------LOGIN PAGE------------------------*/

.loginDiv {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginForm {
    border-radius: 10px;
    border: 2px solid white;
    padding-left: 175px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 175px;

    width: fit-content;
}

.loginFormDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
